@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap");
body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --blue: #23a6f0;
    --white: #ffffff;
    --black: #000000;
    --background: #e8f1ff;
    --secondary-text: #737373;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
