@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap");

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --blue: #23A6F0;
    --white: #FFFFFF;
    --black: #000000;
    --background: #E8F1FF;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
